* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background-color: rgb(121, 121, 121);
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: darkgrey;
}

.card {
    background-color: darkgrey;
    padding: 20px;
    margin-top: 20px;
}

.button {
    background: rgb(94, 94, 94);
    border: 0;
    color: black;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}