*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/achtergrond.png);
  }

main{
    color: black;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0px;
    height: 75px;
    width: 100%;
    background-color: skyblue;
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    margin:0 10px;
    border: 5px solid lightblue;
    padding: 10px;
    width: 100px;
    text-align: center;

}
nav a:hover{
    background-color: rgb(167, 167, 167);
}
main{
    position: fixed;
    top: 100px;
}

progress#nbsa {
  width: 375px;
  border: 1px solid;
  position: relative;
}
progress#nbsa2 {
    width: 125px;
    border: 1px solid;
    position: relative;
  
  }

progress#nbsa::-webkit-progress-bar {
    background-color: rgb(218, 216, 216);
}
progress#nbsa::-webkit-progress-value {
    background-color: rgb(153, 153, 153);
}
progress#nbsa2::-webkit-progress-bar {
    background-color: rgb(218, 216, 216);
}
progress#nbsa2::-webkit-progress-value {
    background-color: green;
}

.accordion {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }  