* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

main {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0px;
    height: 75px;
    width: 100%;
    background-color: rgb(121, 121, 121);
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    border: 5px solid rgb(94, 94, 94);
    padding: 10px;
    width: 100px;
    text-align: center;
}

nav a:hover {
    background-color: rgb(167, 167, 167);
}

main {
    position: fixed;
    top: 100px;
}

progress#nbsa {
    width: 375px;
    border: 1px solid;
    position: relative;
}

progress#nbsa2 {
    width: 125px;
    border: 1px solid;
    position: relative;
}

progress#nbsa::-webkit-progress-bar {
    background-color: rgb(218, 216, 216);
}

progress#nbsa::-webkit-progress-value {
    background-color: darkred;
}

progress#nbsa2::-webkit-progress-bar {
    background-color: rgb(218, 216, 216);
}

progress#nbsa2::-webkit-progress-value {
    background-color: green;
}

.accordion {
    background-color: rgb(121, 121, 121);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: darkgray;
    display: none;
    overflow: hidden;
}

div#center {
    text-align: center;
}

.imglucas {
    float: right;
    padding-left: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div#textbox {
    border: 1px;
    border-style: solid black;
}

HTML CSS JSResult Skip Results Iframe EDIT ON * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: grey;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(119, 119, 119);
    color: rgb(100, 100, 100);
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.card .text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

div#profiel {
    margin-left: 20px;
}

div#table {
    margin-left: 10px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
}